---
import type { CollectionEntry } from 'astro:content';
import BookCard from './BookCard.astro';

interface Props {
  books: CollectionEntry<'books'>[];
}

const { books } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {books.map((book) => <BookCard book={book} />)}
</div>
